// Settings

@import "mixins";
@import "variables";
@import "debug";

// @import "bootstrap";
// @import "bootstrap/mixins/grid";
// @import "bootstrap/mixins/grid-framework";
// @import "bootstrap/mixins/gradients";
// @import "bootstrap/mixins/table-row";
@import "bootstrap/normalize";
// @import "bootstrap/grid";
// @import "bootstrap/variables";
// @import "bootstrap/tables";
// @import "bootstrap/mixins/border-radius";
// @import "bootstrap/mixins/nav-vertical-align";
// @import "bootstrap/forms";
// @import "bootstrap/navs";
// @import "bootstrap/navbar";

@charset "utf-8";

// Typography

@font-face {
	font-family: Stag-Medium;
	src: url(../fonts/Stag-Sans-Book.otf); }

@font-face {
	font-family: Stag-Light;
	src: url(../fonts/Stag-Sans-Light.otf); }
@font-face {
	font-family: FontAwesome;
	src: url(../fonts/FontAwesome.otf); }

// Color variables

$text-color: 			white;
$negative-text-color: 	black;
$logo-color: 			white;

// Text styles

h1, h2, h3, h4, h5, h6, p, ol, li {
	color: $text-color;
}

h1 {
	font-family: "Stag-Medium";
	font-size: 38px;
	text-align: center;
	padding-top: 20px;
}

h4 {
	font-family: "Stag-Medium";
	font-size: 18px;
	padding: 14px 0 0 0;
	text-align: center;
}

h5 {
	font-family: Stag-Light;
	font-size: 18px;
	text-align: center;
}

ol {
	width: 55%;
	margin: 0 auto 0 auto;
	font-family: Stag-Light;
	font-size: 18px;
	text-align: center;
	padding: 10px 0 0 0;
	li {
	font-family: Stag-Light;
	font-size: 18px;
	text-align: left;
	padding: 0 0 0 30px;
	}
}

form {
	padding-top: 0;
	opacity: 0.8;
	color: $negative-text-color;
}

// Base

body {
	background: url(../images/bg2-small.jpg) no-repeat center center fixed;
	background-size: cover;
}

// Styles

.header {
	padding: 50px 0 0 0;
	#logo {
	width: 8vh;
	height: auto;
	color: $logo-color;
	display: block;
	margin: 0 auto 0 auto;
	padding-left: 2px; 
	}
	.logo-text {
	margin-top: -20px;
	padding-left: 12px;
		#subtitle {
			margin-top: -25px; 
		}
	}
}

.jumbo-wrap {
	width: 80%;
	margin: 0 auto 0 auto;
	padding-top: 20px;
}

// some custom media-queries for irregularities

@media (max-width: 550px) {
	ol {
		width: 100%;
	}
	.jumbo-wrap {
		width: 100%;
	}
}
