---
title: MOOVV.ME - no more stress
---

<div class="container">
    
    <div class="row header">
      <div class="twelve columns">
        <svg id="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 507.6 122.4" enable-background="new 0 0 507.6 122.4" xml:space="preserve">
          <g id="background" display="none">
            <rect x="-6.3" y="-7" display="inline" fill="#3B97D3" width="533.1" height="132.9"/>
          </g>
          <g id="underlayer" display="none">
            
              <image display="inline" overflow="visible" width="916" height="604" xlink:href="12876896033DF70C.png"  transform="matrix(0.2884 0 0 0.2884 172.2081 -12.7665)">
            </image>
          </g>
          <g id="line_1" display="none">
            <g display="inline">
              <path fill="#FFFFFF" d="M302.9,114.4"/>
              <circle fill="#0071BC" cx="374.1" cy="125.1" r="12.3"/>
              <circle fill="#0071BC" cx="247.1" cy="125.1" r="12.3"/>
              <path fill="#0071BC" d="M190.6,6.1v72v30h9v15h29c0,0,4.1-14.9,18.5-14.9s18.8,14.9,18.8,14.9h89.7c0,0,3.1-14.7,18.5-14.7
                s19.2,14.7,19.2,14.7h19.3c0,0,3-2.3,3-8c0-5.6,0-33,0-33s1.7-4.9-4-7c-5.6-2.2-8-2.9-12.6-18.5s-10.3-37.3-10.3-37.3
                s0.1-4.2-8-4.2c-8.1,0-53.1,0-53.1,0v5h-5v-14H190.6z"/>
              <polyline fill="#0071BC" points="191.6,15.1 150.6,15.1 192.1,42.9     "/>
            </g>
          </g>
          <g id="line_2" display="none">
            <path display="inline" fill="#63CC11" d="M190.6,6.1v10h-29c0,0-9.9,0.6-3.6,4.8c6.3,4.2,32.6,21.6,32.6,21.6v80.6h38
              c0,0,3.9-14.6,18.5-14.9s18.8,14.9,18.8,14.9h89.7c0,0,2.8-14.7,18.5-14.7s19.2,14.7,19.2,14.7h17.3c0,0,5-1.2,5-6.3s0-34.7,0-34.7
              s0.1-5.2-4-7c-4.1-1.8-8-3.2-11.4-14.5c-3.3-11.3-11.2-39.9-11.2-39.9s-0.7-5.6-8.7-5.6c-8,0-57.8,0-57.8,0v-9H190.6z"/>
          </g>
          <g id="line_3" display="none">
            <path display="inline" fill="#D84CC8" d="M191,12.6c0,0-0.8-5.5,4.1-5.5c5,0,123.5,0,123.5,0s3-1.5,3,2.2s0,2.8,0,2.8s0.9,4,4.2,4
              s53.8,0,53.8,0s7.7-1.5,9.5,5.1c1.8,6.6,13.1,47.2,13.1,47.2s1.1,2.9,5,4.9s7.4,3.1,7.4,8.9s0,33,0,33s1.7,9-5.4,9
              c-7.1,0-12.6,0-12.6,0s-3.6-0.4-3.7-2.1c-0.1-1.7-5.5-13.5-18.8-13.5c-13.3,0-18.5,14.1-18.5,14.1s-0.3,1.4-2,1.4s-86,0-86,0
              s-1.6-0.1-2.5-2.9c-0.9-2.8-5.8-12.9-18-12.9c-12.2,0-18.1,13.8-18.1,13.8s-0.6,1.5-2.4,1.5s-33,0-33,0s-3.9,0.2-3.9-4.8
              c0-4.9,0-73.8,0-73.8s0.8-2.2-2.6-4.8c-3.3-2.6-33.9-22.9-33.9-22.9s-1.1-1.3,1.9-1.3c3,0,31.5,0,31.5,0S191.3,16.9,191,12.6z"/>
            <circle display="inline" fill="#D84CC8" cx="374.1" cy="125.1" r="12.3"/>
            <circle display="inline" fill="#D84CC8" cx="247.1" cy="125.1" r="12.3"/>
          </g>
          <g id="line_4" display="none">
            <g display="inline">
              <path fill="#FFFFFF" d="M302.9,114.4"/>
              <circle fill="#0071BC" cx="374.1" cy="125.1" r="12.3"/>
              <circle fill="#0071BC" cx="247.1" cy="125.1" r="12.3"/>
              <path fill="#0071BC" d="M191.6,5.1v73v29h9v15h28c0,0,4.1-14.9,18.5-14.9s18.8,14.9,18.8,14.9h89.7c0,0,3.1-14.7,18.5-14.7
                s19.2,14.7,19.2,14.7h19.3c0,0,4-1.3,4-7c0-5.6,0-33,0-33s1.2-4.9-4.5-7c-5.6-2.2-8.3-2.9-12.9-18.5s-10.4-37.8-10.4-37.8
                s0-4.7-8.1-4.7c-8.1,0-52.1,0-52.1,0v5h-5v-14H191.6z"/>
              <polyline fill="#0071BC" points="191.6,15.1 150.6,15.1 192.1,42.9     "/>
            </g>
            <rect x="323.7" y="-10" display="inline" fill="#FFFFFF" width="5" height="117.6"/>
          </g>
          <g id="line_5" display="none">
            <g display="inline">
              <g>
                <g>
                  <path fill="#FFFFFF" d="M405.3,83.2"/>
                  <circle fill="#FFFFFF" cx="429.8" cy="86.8" r="4.2"/>
                  <circle fill="#FFFFFF" cx="386.1" cy="86.8" r="4.2"/>
                  <path fill="#FFFFFF" d="M366.6,45.1v25.6v10.4h3v5h10.1c0,0,1.4-5.1,6.4-5.1s6.5,5.1,6.5,5.1h30.9c0,0,1.1-5.1,6.4-5.1
                    s6.6,5.1,6.6,5.1h6.7c0,0,1.5-0.7,1.5-2.7s0-11.4,0-11.4s0.3-1.7-1.6-2.4s-2.9-1-4.5-6.4S435,50,435,50s0-1.9-2.8-1.9
                    s-17.5,0-17.5,0v2h-2v-5H366.6z"/>
                  <polyline fill="#FFFFFF" points="366.6,49.1 352.8,49.1 367,58.7         "/>
                </g>
                <rect x="412.5" y="40.3" fill="#3B97D3" width="2.4" height="40.5"/>
              </g>
              <text transform="matrix(1 0 0 1 35.5249 86.1082)" fill="#FFFFFF" font-family="'Junction-Bold'" font-size="52.9967">MOOVV.ME</text>
            </g>
            <g display="inline">
              <g>
                <g>
                  <path fill="#FFFFFF" d="M405.3,83.2"/>
                  <circle fill="#FFFFFF" cx="429.8" cy="86.8" r="4.2"/>
                  <circle fill="#FFFFFF" cx="386.1" cy="86.8" r="4.2"/>
                  <path fill="#FFFFFF" d="M366.6,45.1v25.6v10.4h3v5h10.1c0,0,1.4-5.1,6.4-5.1s6.5,5.1,6.5,5.1h30.9c0,0,1.1-5.1,6.4-5.1
                    s6.6,5.1,6.6,5.1h6.7c0,0,1.5-0.7,1.5-2.7s0-11.4,0-11.4s0.3-1.7-1.6-2.4s-2.9-1-4.5-6.4S435,50,435,50s0-1.9-2.8-1.9
                    s-17.5,0-17.5,0v2h-2v-5H366.6z"/>
                  <polyline fill="#FFFFFF" points="366.6,49.1 352.8,49.1 367,58.7         "/>
                </g>
                <rect x="412.5" y="40.3" fill="#3B97D3" width="2.4" height="40.5"/>
              </g>
              <text transform="matrix(1 0 0 1 35.5249 86.1082)" fill="#FFFFFF" font-family="'Junction-Bold'" font-size="52.9967">MOOVV.ME</text>
            </g>
          </g>
          <g id="Layer_8">
            <g>
              <g>
                <circle fill="#FFFFFF" cx="416.8" cy="86.8" r="4.2"/>
                <circle fill="#FFFFFF" cx="373.1" cy="86.8" r="4.2"/>
                <path fill="#FFFFFF" d="M430,69.6c-1.9-0.7-2.9-1-4.5-6.4C424,57.9,422,50,422,50s0-1.9-2.8-1.9c-2.6,0-15.6,0-17.3,0l0,32.7
                  l-2.4,0l0-35.7h-45.8v4h-13.8l13.8,9.3v12.2v10.4h3v5h10.1c0,0,1.4-5.1,6.4-5.1c4.9,0,6.5,5.1,6.5,5.1h30.9c0,0,1.1-5.1,6.4-5.1
                  s6.6,5.1,6.6,5.1h6.7c0,0,1.5-0.7,1.5-2.7c0-1.9,0-11.4,0-11.4S432,70.4,430,69.6z"/>
              </g>
              <text transform="matrix(1 0 0 1 35.5249 86.1082)" fill="#FFFFFF" font-family="'Junction-Regular'" font-size="52.9967">MOOVV.ME</text>
            </g>
          </g>
        </svg>
      </div>
        <h5 id="subtitle"> stressvrij verhuizen </h5>
    </div>
    
    <div class="row body">
      <div class="twelve columns">
        <div class="jumbo-wrap">
          <h1> U woont in <span id="city"><script language="Javascript">document.write(geoplugin_city()+", ") </script></span><span id="city"><script language="Javascript">document.write(geoplugin_countryCode())</script></span> en wilt binnenkort verhuizen? Wij zoeken (gratis) de beste verhuizer voor u uit</h1>
        </div>
      </div>
    </div>

    <div class="row body steps">
      <div class="twelve columns">
        <ol> <i class="fa fa-cog"></i> Hoe werkt het? <br>
          <br>
          <li>U schrijft zich hier in met uw email
          <li>Wij nemen contact met u op over de details van uw verhuizing</li>
          <li>We spreken voor u met meer dan 25 verhuizers en laten ze tegen elkaar opbieden zodat u het beste aanbod krijgt.</li>
          <li>U ontvangt binnen 72 uur een lijst met alle opties en kunt vrijblijvend een keuze maken. </li> 
        </ol>
      </div>
    </div>

    <div class="row body">
      <div class="twelve columns">
        <div class="jumbo-wrap">
          <h1> Schrijf u nu vrijblijvend in. </h1>
        </div>
      </div>
    </div>

    <form id="subs" action="https://getsimpleform.com/messages?form_api_token=d7fbeafab146c225d2e779c13fed6a8d" method="post">
      <div class="row">
        <div class="one column">
          &nbsp; 
          <input type='hidden' name='redirect_to' value='http://moovv.me/bedankt.html'/>
        </div>
        <div class="four columns">
          <input class="u-full-width" type="text" name="naam" placeholder="Voornaam achternaam" id="exampleNameInput">
        </div>
        <div class="four columns">
          <input class="u-full-width" type="email" name="email" placeholder="naam@email.nl" id="exampleEmailInput">
        </div>
        <div class="one column">
          <input class="button-primary" type="submit" value="Versturen">
        </div>
        <div class="one column">
          &nbsp;
        </div>
      </div>
    </form>

  </div>