---
title: MOOVV.ME - no more stress
---

<div class="container">
    
    <div class="row header">
      <div class="twelve columns">
        <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px " y="0px"
          viewBox="0 0 96.7 71.3" enable-background="new 0 0 96.7 71.3" xml:space="preserve"> 
          <g>          
          <path fill="#FFF" d="M49,20.8c0.4-0.5,0.8-1.1,1.3-1.5c-3.5-3.2-8.2-5.1-13.4-5.1c-3.8,0-7.5,1.1-10.7,3.1l-9.3-3.1l3.1,9.3
          c-2,3.2-3.1,6.9-3.1,10.7c0,11.1,9,20,20,20c5.3,0,10.1-2,13.6-5.4c-0.5-0.5-0.9-1-1.3-1.5c-3.2,3-7.6,4.9-12.3,4.9
          c-9.9,0-18-8.1-18-18c0-3.6,1.1-7,3-10l0.3-0.4l-2.1-6.5l6.5,2.1l0.4-0.3c3-2,6.4-3,10-3C41.6,16.2,45.8,17.9,49,20.8 M84.5,33.9
          c0,3.6-1.1,7-3,10l-0.3,0.4l2.1,6.5l-6.5-2.1l-0.4,0.3c-3,2-6.4,3-10,3c-9.9,0-18-8.1-18-18c0-9.9,8.1-18,18-18
          C76.4,15.9,84.5,24,84.5,33.9 M86.5,33.9c0-11.1-9-20-20-20s-20,9-20,20s9,20,20,20c3.8,0,7.5-1.1,10.7-3.1l9.3,3.1l-3.1-9.3
          C85.5,41.4,86.5,37.8,86.5,33.9"/>
          <g>
          <polygon fill="#FFF" points="59.3,43.5 66.4,47.1 66.4,39.8 59.3,36.1"/>
          <polygon fill="#FFF" points="66.8,47.1 73.9,43.5 73.9,36.1 66.8,39.8"/>
          <path fill="#FFF" d="M73.6,35.8l-3-1.6l-3.9,2.1c0,0-0.1,0-0.1,0s-0.1,0-0.1,0l-3.9-2.1l-3,1.6l0,0l7.1,3.7l0,0l0,0l4.9-2.5
            L73.6,35.8z"/>
          <polygon fill="#FFF" points="66.4,35.6 66.4,28.4 59.3,24.7 59.3,32"/>
          <polygon fill="#FFF" points="66.8,28.4 66.8,35.6 73.9,32 73.9,24.7"/>
          <polygon fill="#FFF" points="66.6,28 66.6,28 71.1,25.6 73.6,24.3 66.6,20.6 59.6,24.3 59.6,24.3"/>
          </g>
          </g>
        </svg>
      </div>

      <div class="logo-text">
        <h4> MOOVV.ME </h4>
        <h5 id="subtitle"> stressvrij verhuizen </h5>
      </div>
    </div>
    
    <div class="row body">
      <div class="twelve columns">
        <div class="jumbo-wrap">

          


        <h1> U woont in <span id="city"><script language="Javascript">document.write(geoplugin_city()+", ") </script></span><span id="city"><script language="Javascript">document.write(geoplugin_region())</script></span> en wilt binnenkort verhuizen? Wij zoeken (gratis) de beste verhuizer voor u uit</h1>
        </div>
      </div>
    </div>

    <div class="row body steps">
      <div class="twelve columns">
        <ol> <i class="fa fa-cog"></i> <strong> Hoe werkt het? </strong> <br>
          <br>
          <li>U schrijft zich in
          <li>Wij nemen contact met u op over de details van uw verhuizing</li>
          <li>Wij onderhandelen voor u de beste prijs en service. We spreken meer dan 25 verhuizers en laten ze tegen elkaar opbieden.</li>
          <li>U ontvangt binnen 72 uur een lijst met alle opties en kunt vrijblijvend een keuze maken. </li> 
        </ol>
      </div>
    </div>

    <div class="row body">
      <div class="twelve columns">
        <div class="jumbo-wrap">
          <h1> Laat uw contactgegevens achter om zonder verplichtingen gebruik te maken van deze dienst </h1>
        </div>
      </div>
    </div>

    <form action="https://getsimpleform.com/messages?form_api_token=d7fbeafab146c225d2e779c13fed6a8d" method="post">
      <div class="row">
        <div class="one column">
          &nbsp; 
          <input type='hidden' name='redirect_to' value='http://moovv.me/bedankt.html'/>
        </div>
        <div class="four columns">
          <input class="u-full-width" type="text" name="naam" placeholder="Voornaam achternaam" id="exampleNameInput">
        </div>
        <div class="four columns">
          <input class="u-full-width" type="email" name="email" placeholder="naam@email.nl" id="exampleEmailInput">
        </div>
        <div class="one column">
          <input class="button-primary" type="submit" value="Versturen">
        </div>
        <div class="one column">
          &nbsp;
        </div>
      </div>
    </form>

  </div>